div.App {
  display        : flex;
  flex-direction : row;
  flex-wrap      : nowrap;
  justify-content: center;
  align-items    : center;
  align-content  : stretch;
  width          : 50%;
  margin         : 0 auto;

  div.card {
    display   : inline-block;
    width     : 100%;
    max-width : 350px;
    margin    : 20px;
    cursor    : pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #fff;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
    padding   : 50px;

    div.selected-agency {
      margin-top: 20px;

      ul {
        list-style-type: none;
      }
    }
  }
}
